'''

# sorting : to arange data in some order 

sorting : data : strings ,numbers , objects



increasing / ascending 
decreasing / descending 


                            (strictly increasing / decreasing)
                            
                            
[-10,-3,0,1,2,5,18,20]         A[i] < A[i+1]


[50,40,25,23.287,20,PIE,-e]    A[i] > A[i+1]



Non Increasing  [10,10,10,8,8,6,5,4] 
        : A[i] >= A[i+1] either decreasing or stays linear
Non Decreasing  [-10,5,5,5,6,8,8,10]
        : either increas or stay linear A[i]<=A[i+1]



# lexicographic ( dictionary order )   >--  lexicon - token by token
Q: ['apple','dog','god','scaler','algorithm ']

A:  ['algorithms','apple','dog','god','scaler']  --lexicographically sorted



# lexicographic is not equal to alphabetically


# alphanumeric contains : [ A-Z , a-z , 0-9 , _ ]






>>>--- how many alphabets does english have !  = 1
--- alphabet  is a set of letters : 
in english alphabet has 26 letters. A to Z   ---<<<

>>>--- HIndi has two alphabets : AA, AAA, E , ...
                            : ka ,kha , ga                 ---<<<




# we can also sort by key (arbitrary property ) like sorting by salary, height, weigth etc. 

list of people = sort by height

list of strings = sort by length of strings



list of integers = sort by absolute values
A = [-10,5,6,10,12,-36]
ans [5,6,-10,10,12,-36]





# Popular sorting algorithms : 

1. Bubble sor  **
2. Quick sort **
3. Selection Sort **
4. Tim sort
5. insertion sort **
6. heap sort
7. counting sort **
8. shell sort
9. bucket sort
10. merge sort
11. radic sort **

etc


# Time complexity

best case : O(n)
avg case :  O(nlogn)
worst case: O(nlogn)

# space complexity

worst case : O(1)    {excludibg stack}
: in-place



## stability : 
always assume that algorithm is stable
#### >>>--- retaining the order of things  that compare equal

A = -10  20  10  30  -30  60  5

ans : 5  -10  10  20  30  -30  60

sort the peope by age , and if age is equal , then by height :


sort by height ------ stable------ sory by age

In [2]:
## sorting a collection 

A = [9,8,7,6,5,4,3,2,1]

A.sort() # modifty the list A --- sorted asc by value # happes in place

# SC : O(n)
# TC : O(nlogn)

In [3]:
A

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
x = [9,8,7,6,5,4,3,2,1]
B = sorted(A)                  # return new lost , doesn't modify originals

print(x)
print(B)

# SC : O(n)
# TC : O(nlogn)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Q: give integer array A "
# find the minimum cost of removing all elements from array
# cost of removing elements = sum of all the elements left in the array - before removing

A = [2,1,4]

remove  : cost :  after removal
    2     7        [1,4]
    1     5        [4]
    4     4        []
    
    total cost : 7 + 5 + 4 = 16 
    
remove  : cost :  after removal
    4     7         [2,1]
    2     3         [1]
    1     1         [] 
    total cost : 7 + 3 + 1 = 11 


diff ways we can remove elements 

2 1 4 : 7 + 5 + 4 = 16
4 2 1 : 7 + 3 + 1 = 11     *****
1 2 4 : 7 + 6 + 4 = 17
1 4 2 : 7 + 6 + 2 = 15
2 4 1   7 + 5 + 1 = 13
4 1 2 : 7 + 3 + 2 = 12

{4, 6, 1}

4 6 1  11+7+1     19
4 1 6  11+7+6     24
6 4 1  11+5+1     17    *****
6 1 4  11+5+4     20
1 6 4  11+10+4    25
1 4 6  11+10+6    27

{3, 5, 1, -3}

3 5 1 -3   
 
5 3 1 -3    6+1-2-3    2

###### brute force

In [1]:
from itertools import permutations

A = [2,1,4,5]
permutations_list = list(permutations(A))
print(permutations_list)
mincost = float('inf')

for i in permutations_list:
    total = 0
    print(list(i))
    summ = 0
    for x in i:
        summ = summ + x
        print("sum",summ)
        total = total + summ
    mincost = min(total,mincost)
    print(total)
print()
print(mincost)

[(2, 1, 4, 5), (2, 1, 5, 4), (2, 4, 1, 5), (2, 4, 5, 1), (2, 5, 1, 4), (2, 5, 4, 1), (1, 2, 4, 5), (1, 2, 5, 4), (1, 4, 2, 5), (1, 4, 5, 2), (1, 5, 2, 4), (1, 5, 4, 2), (4, 2, 1, 5), (4, 2, 5, 1), (4, 1, 2, 5), (4, 1, 5, 2), (4, 5, 2, 1), (4, 5, 1, 2), (5, 2, 1, 4), (5, 2, 4, 1), (5, 1, 2, 4), (5, 1, 4, 2), (5, 4, 2, 1), (5, 4, 1, 2)]
[2, 1, 4, 5]
sum 2
sum 3
sum 7
sum 12
24
[2, 1, 5, 4]
sum 2
sum 3
sum 8
sum 12
25
[2, 4, 1, 5]
sum 2
sum 6
sum 7
sum 12
27
[2, 4, 5, 1]
sum 2
sum 6
sum 11
sum 12
31
[2, 5, 1, 4]
sum 2
sum 7
sum 8
sum 12
29
[2, 5, 4, 1]
sum 2
sum 7
sum 11
sum 12
32
[1, 2, 4, 5]
sum 1
sum 3
sum 7
sum 12
23
[1, 2, 5, 4]
sum 1
sum 3
sum 8
sum 12
24
[1, 4, 2, 5]
sum 1
sum 5
sum 7
sum 12
25
[1, 4, 5, 2]
sum 1
sum 5
sum 10
sum 12
28
[1, 5, 2, 4]
sum 1
sum 6
sum 8
sum 12
27
[1, 5, 4, 2]
sum 1
sum 6
sum 10
sum 12
29
[4, 2, 1, 5]
sum 4
sum 6
sum 7
sum 12
29
[4, 2, 5, 1]
sum 4
sum 6
sum 11
sum 12
33
[4, 1, 2, 5]
sum 4
sum 5
sum 7
sum 12
28
[4, 1, 5, 2]
sum 4
sum 5
sum 10
sum 12
31
[4, 5, 2, 1]
sum 4
sum 9
sum 11
sum 12
36
[4, 5, 1, 2]
sum 4
sum 9
sum 10
sum 12
35
[5, 2, 1, 4]
sum 5
sum 7
sum 8
sum 12
32
[5, 2, 4, 1]
sum 5
sum 7
sum 11
sum 12
35
[5, 1, 2, 4]
sum 5
sum 6
sum 8
sum 12
31
[5, 1, 4, 2]
sum 5
sum 6
sum 10
sum 12
33
[5, 4, 2, 1]
sum 5
sum 9
sum 11
sum 12
37
[5, 4, 1, 2]
sum 5
sum 9
sum 10
sum 12
36

23

In [2]:
A = [2,1,4,5]
permutations_list = list(permutations(A))
mincost = float('inf')

for i in permutations_list:
    total = 0
    summ = 0
    for x in i:
        summ = summ + x
        total = total + summ
    mincost = min(total,mincost)
print(mincost)

23


##### observations

In [ ]:
# if we make observations ,
# removing the largest element first , 
# gives the minmum answ

A = [a b c d] # sorted array in reverse order  and then ....  

remove cost remaininh
a   a+b+c+d  [b c d]
b   b+c+d    [c d]
c   c+d      [d]
d   d        []

total cost = a+b+c+d  +  b+c+d  +  c+d  +  d
           = a + 2b + 3c + 4d
           
           # element removed last , has the heighest multiplication factor 
           # so if its smaller number , will minimise cost
           # so we need to sort A in descending order
           
         
        
      TC:   O(nlogn)      
      SC :  O(n)

###### optimal

In [10]:
A = [2,1,4,5]
B = sorted(A,reverse = True)
print(B)
total = 0
x = 1
for i in range(len(B)):
    print(x,B[i], x*B[i])
    total  += (x*B[i])
    x += 1
print(total)

[5, 4, 2, 1]
1 5 5
2 4 8
3 2 6
4 1 4
23

###### optimal using enumerate

In [60]:
A = [4,6,1]
B = sorted(A,reverse = True)

total = 0

for i,x in enumerate(B):
    print(i,x)
    total  += (i+1)*x
print()
print("ans : ", total)

0 6
1 4
2 1

ans :  17

In [4]:
A = [4,6,1]
B = sorted(A,reverse = True)

total_cost = 0

for i,x in enumerate(B,start =1):
    total_cost  += (i)*x
print()
print("ans : ", total_cost)

ans :  17

# Q: given N elements, count the no of nobel integers : 
# nobel integers : x is nobel if and only if 
# No of elements < x == x

A = 1 -5 3 5 5 -10 4
 #  2  1 3 5 5  0  4   # number of elements < x 
    
         ^ ^ ^     ^ 
         above elements are nobel  and number of nobel elements = 4
         
A =  -3 0 2 5
#    0  1 2 3
          ^     ans = 1
       
  -10 -5 1 3 4 5 10
#  0   1 2 3 4 5 6 
           ^ ^ ^     ans = 3
           
     -10 1 1 3 100
 #    0  1 1 3  4     ans = 3

In [22]:
# given each element count the items > it and check if it nobel 
##############                  #O(n**2),O(1)

A = [-10,-1,1,2,4,4,4,8,10]

n = len(A)
nobel_count = 0
for i in range(n):
    less_numbers = 0
    for j in range(n):
        if A[j] < A[i]:
            less_numbers += 1
        
   # print(A[i],less_numbers)
    if A[i]==less_numbers:
        nobel_count += 1
#print()
#print(nobel_count)

if nobel_count == 0:
    print(-1)
else:
    print(nobel_count)

3

In [ ]:
-10 1 1 3 100
0   1 1 3

In [ ]:
'''
negative numbers can never be nobel    ,as count can never  be negative


'''

In [76]:
'''
in case of non duplicate values of array . ::

if we sort in ascending : then index = number of elements < x
 index:   0  1  2 3 4 5 6
  A =   [-10 -5 1 3 4 5 10]
<x:       0  1  2 3 4 5 6 


 O(nlogn),O(n)
'''


A = [-10,-5,1,3,4,5,10]

B = sorted(A)
nobel_count = 0
for i in range(len(B)):
    if B[i]==i:
        nobel_count += 1
print(nobel_count)

3

In [3]:
A = [-10,-5,1,3,4,5,10]

asc = sorted(A)
nobel_count = 0

for i,x in enumerate(asc):
    if i == x:
        nobel_count += 1
print(nobel_count)

3

In [4]:
A = [-10,-2,1,3,4,5,10]
A.sort()
A

[-10, -2, 1, 3, 4, 5, 10]

In [ ]:
  0    1   2 3  4  5  6

###### # now in case of duplicates:

In [6]:
A = [-10,1,1,2,4,4,4,8,10]

A.sort()
print(A)

nobel = 0

prev_element  = None
prev_index = None

for i in range(len(A)):
    
    if A[i] == prev_element:
        lesser_ele = prev_index
    else:
        lesser_ele = i
        prev_element = A[i]
        prev_index = i
        
        
    if lesser_ele == A[i]:
        nobel += 1
print(nobel)

[-10, 1, 1, 2, 4, 4, 4, 8, 10]
5

In [4]:
A = [-10,1,1,2,4,4,4,4,4,8,10]
A = sorted(A)

n = len(A)
nobel  = 0
lesser = 0
for i in range(n):
    if i > 0 and A[i] == A[i-1]:
        nobel += 1
        nobel -= 1  #  do not increase
    else:
        lesser = i  
    if A[i] == lesser:
        nobel += 1
    
print(nobel)

8

In [5]:
X = [-10,1,1,2,4,4,4,4,4,8,10]
n = len(A)
count = 0
A =sorted(X)


index  = None
for i in range(1,n):
    if i == A[i]:
        count += 1
        index = i
    elif A[i-1] == A[i]:
        if A[i] == index:
            count += 1
count

8

# Q!   largest Number : 
# given an array of non-negative integers , arrange them to for the largest number

A =   [ 1 , 2 , 5 , 98 ]
>>  98521

A =   [ 3, 30, 34, 5 ,9 ]
>>  9534330

In [9]:
from itertools import permutations

X = [1 ,2,2,2,3,20,21,22]
n = len(X)
A = list(permutations(X))
# print(A)
largest = -float('inf')


for i in range(len(A)):
    ans = ""
    for j in range(len(A[0])):
        
        STRING = str(A[i][j])
        
        ans = ans + STRING
        #print(ans)
        largest = max(largest,int(ans))
print(largest)

32222221201

In [ ]:
32222221201

In [164]:
#  combinations : selections
# permutations  : arrangements

In [ ]:
3 22 2 2 2 21 20 1

##### before above problems optimal solution : 

# comparators : 

## custom sorting (sorting by different properties )

## custom sorting 

sorting by attributes  :
we will supply our own function as a key to the sorting function

In [75]:
# return sorting array by abs values 

nums = [-10,3,5,6,10,4,-5,-44]

from functools import cmp_to_key

def compare_abs(a,b):
    if abs(a) < abs(b):
        return -1
    elif abs(a) == abs(b):
        return 0
    else:
        return 1
    
absorted = sorted( nums , key = cmp_to_key(compare_abs) )

print(absorted)

[3, 4, 5, -5, 6, -10, 10, -44]

In [16]:
nums = [-10,3,5,6,10,4,-5,-44]
absorted = sorted( nums , key = abs)
print(absorted)

[3, 4, 5, -5, 6, -10, 10, -44]

In [12]:
# return string array after sorting by length of each strings

strings = ['aaaa','aa','a','aaaaaaaaa','aaaa','bbaabb','aaasaaaa','bab']


    
absorted = sorted( strings , key = len )

print(absorted)

['a', 'aa', 'bab', 'aaaa', 'aaaa', 'bbaabb', 'aaasaaaa', 'aaaaaaaaa']

In [182]:

strings = ['apple','boy','do','sunny','bay','god','elephant','scaler','interviewbit ']
print("original strings:\n",strings)
print()
lex = sorted(strings)
print("sorted lexicographically: \n",lex)
print()
absorted = sorted( strings , key = len )
print("sorted by length of string :\n ",absorted)

original strings:
 ['apple', 'boy', 'do', 'sunny', 'bay', 'god', 'elephant', 'scaler', 'interviewbit ']

sorted lexicographically:
 ['apple', 'bay', 'boy', 'do', 'elephant', 'god', 'interviewbit ', 'scaler', 'sunny']

sorted by length of string :
  ['do', 'boy', 'bay', 'god', 'apple', 'sunny', 'scaler', 'elephant', 'interviewbit ']

In [13]:
strings = ['apple','boy','do','sunny','bay',
           'god','elephant','scaler','interviewbit ']

def value_strings(s):
    total = 0
    for i in s:
        total += ord(i)
    return total

x = sorted(strings, key = value_strings)
print(x)


for i in x:
    print(i,"   ",value_strings(i))

['do', 'god', 'bay', 'boy', 'apple', 'sunny', 'scaler', 'elephant', 'interviewbit ']
do     211
god     314
bay     316
boy     330
apple     530
sunny     573
scaler     634
elephant     849
interviewbit      1340

In [72]:
def value_strings(s):
    total = 0
    for i in s:
        total += ord(i)
    return total
value_strings('strings')

778

In [ ]:
# same thing below

In [73]:
def val_string(s):
    return sum(map(ord,s))

s = ['apple','boy','do','sunny','bay',
           'god','elephant','scaler','interviewbit ']

sortedS = sorted(s,key = val_string)
print(sortedS)

['do', 'god', 'bay', 'boy', 'apple', 'sunny', 'scaler', 'elephant', 'interviewbit ']

In [10]:
def factor_count(N):
    i = 1
    count = 0
    while i <= N:
        if N % i == 0:
            count += 1
            print(i,end = " ")
        i = i+1
    return count

In [12]:
factor_count(152)

1 2 4 8 19 38 76 152

8

In [32]:
def factor_count(N):
    i = 1
    count = 0
    while i*i <= N:
        if N % i == 0:
            if i*i == N:
                count += 1
            else:
                count += 2
        i = i+1
        
    return count

In [33]:
factor_count(1000)

16

### there are cases in which keys are impossible 
#### for ex. sort / compare a group of chess players 

### keys are more intuitive  (like, sort by age, len)

### keys are efficient with respect to time , but inefficient wrt space

### Q : sort integers of an array by number of factors they have

In [29]:
items = [1, 2, 5, 10, 15, 16, 6]
from functools import cmp_to_key
def factor_count(N):
    i = 1
    count = 0
    while i*i <= N:
        if N % i == 0:
            if i*i == N:
                count += 1
            else:
                count += 2
        i = i+1
    return count



def compare_by_factors(a,b):
    a_count = factor_count(a)
    b_count = factor_count(b)
    
    if a_count < b_count:
        return -1
    elif a_count == b_count:
        return 0
    else:
        return 1
    
sortedlist = sorted(items,key = cmp_to_key(compare_by_factors))
print(sortedlist)

[1, 2, 5, 10, 15, 6, 16]

In [27]:
sorted(items, key = factor_count)

[1, 2, 5, 10, 15, 6, 16]

In [31]:
sorted(items, key = factor_count)

[1, 2, 5, 10, 15, 6, 16]

In [23]:
X = list(range(20))
print(sorted(X, key = factor_count))

[0, 1, 2, 3, 5, 7, 11, 13, 17, 19, 4, 9, 6, 8, 10, 14, 15, 16, 12, 18]

### Q : sort integers of an array by number of factors they have  (descending)

3 ways to set it in descending order : 


key = factor to 
key = -factor 


comp = -1 >      1 <
        0 ==     0 == 
         1 <      1  >  
         
sorted(items, key= factor_count, reverse = True)

In [459]:
items = [1, 2, 5, 10, 15, 16, 6]

def factor_count(N):
    i = 1
    count = 0
    while i*i <= N:
        if N % i == 0:
            if i*i == N:
                count += 1
            else:
                count += 2 
        i = i+1
    return count

def compare_by_factors(a,b):
    a_count = factor_count(a)
    b_count = factor_count(b)
    
    if a_count < b_count:
        return 1
    elif a_count == b_count:
        return 0
    else:
        return -1
    
sortedlist = sorted(items,key = cmp_to_key(compare_by_factors))
print(sortedlist)

[16, 10, 15, 6, 2, 5, 1]

In [460]:
sorted(items, key= factor_count, reverse = True)

[16, 10, 15, 6, 2, 5, 1]

### Q : sort integers of an array by number of factors they have  (descending)

### if the number of factors are equal , then sort by value in ascending order , then sort by factor counts

1 2 5 10 15 16 6
1 2 2  4  4  5 4   factor count

16 10 15 6 2 5 1
5   4  4 4 2 2 1   sorted by factor count


16 6 10 15 2 5 1
5  4  4  4 2 2 1   sorted by factor count , if factor counts are equal , 
                    then sorted by the values itself in ascending order


1 : way1 : exploit stability

sort by A ------> then sort by B 
sort in reverse order : first sort by value then by factor count in desc.
result = sorted(items)
result = sorted(result, key = factor_counts, reverse = True)


2 : way2 : tweak comparator
def compare_by_factors(a,b):
    a_count = factor_count(a)
    b_count = factor_count(b)
    
    if a_count < b_count:
        return 1
    elif a_count > b_count:
        return -1
    else:
        if a < b:
            return -1
        elif a > b: 
            return 1
        elif a == b: 
            return 0
            
3: way3 : create a tupple 
def score(n):
    return (-factor_count(n),n)

In [ ]:
# WAY 1 EXPLOIT STABILITY

In [458]:
def factor_count(N):
    i = 1
    count = 0
    while i*i <= N:
        if N % i == 0:
            if i*i == N:
                count += 1
            else:
                count += 2
        i = i+1
    return count

items = list(range(20))
result = sorted(items)
result = sorted(result, key = factor_count, reverse = True)
print(result)

[12, 18, 16, 6, 8, 10, 14, 15, 4, 9, 2, 3, 5, 7, 11, 13, 17, 19, 1, 0]

In [ ]:
# WAY 2 TWEAK COMPARATOR

In [470]:
def factor_count(N):
    i = 1
    count = 0
    while i*i <= N:
        if N % i == 0:
            if i*i == N:
                count += 1
            else:
                count += 2
        i = i+1
    return count

def compare_by_factors(a,b):
    a_count = factor_count(a)
    b_count = factor_count(b)
    
    if a_count < b_count:
        return 1
    elif a_count > b_count:
        return -1
    else:
        if a < b:
            return -1
        elif a == b: 
            return 0
        else: 
            return 1

X = list(range(20))
print(sorted(X, key = cmp_to_key(compare_by_factors)))

[12, 18, 16, 6, 8, 10, 14, 15, 4, 9, 2, 3, 5, 7, 11, 13, 17, 19, 1, 0]

In [472]:
#6   6   6   4  4  4   4  4   4   4   2   2 2  2  2  2   2   2   2   0

In [ ]:
# WAY 3 : USE TUPPLE COMPARAISION

In [88]:
X = list(range(20))


def custom_key(n):
    return (-factor_count(n),n)
print(sorted(X,key = custom_key))

[12, 18, 16, 6, 8, 10, 14, 15, 4, 9, 2, 3, 5, 7, 11, 13, 17, 19, 1, 0]

In [89]:
X

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [92]:
custom_key(1000)

(-16, 1000)

In [489]:
custom_key(19)

(-2, 19)

In [490]:
custom_key(18)

(-6, 18)

In [486]:
custom_key(10) > custom_key(11)

False

In [96]:
print(custom_key(17) > custom_key(23))
print(custom_key(17) ,custom_key(23))

False
(-2, 17) (-2, 23)

In [480]:
print(custom_key(4) > custom_key(8))
print(custom_key(4) ,custom_key(8))

True
(-3, 4) (-4, 8)

In [491]:
(1,2) < (1,3)  # element by element comparision

True

In [494]:
(1,2) > (2,1)

False

In [2]:
from functools import cmp_to_key

# back to the problem 



# Q! largest Number :
### given an array of non-negative integers , arrange them to for the largest number

# google , amazon , Goldman sachs

In [8]:
from functools import cmp_to_key
A = [85,75,99,4,95,245,36]

def comparefunction(a,b):
    x = int(str(a)+str(b))
    y = int(str(b)+str(a))
    
    if x < y:
        return 1
    elif x == y:
        return 0
    else:
        return -1

AA = sorted(A,key = cmp_to_key(comparefunction))

ans = ""

for i in AA:
    ans = ans+str(i)
print(ans)

99958575436245

# COMPARATOR TAKE TWO VALUES AND RETURN -1,0,1

# KEY() RETURN SCORING VALUE AND SORT FUCTION WILL COMPARE TAND SORT IT

# different prblem , different solu

# if the given array , if we can break elements , 
generate largest number 

7 ,98 ,542 ,6369 ,857 ,74 ,2 ,5

9988777665554432

In [33]:
A =   [7 ,98 ,542 ,6369 ,857 ,74 ,2 ,5]
x = []

In [34]:
AA = sorted(A)

In [35]:
AA

[2, 5, 7, 74, 98, 542, 857, 6369]

In [36]:
for i in range(len(AA)):
    AA[i] = str(AA[i])

In [37]:
AA

['2', '5', '7', '74', '98', '542', '857', '6369']

In [38]:
for i in range(len(AA)):
    for j in range(len(AA[i])):
        x.append(AA[i][j].split())
print(x)

[['2'], ['5'], ['7'], ['7'], ['4'], ['9'], ['8'], ['5'], ['4'], ['2'], ['8'], ['5'], ['7'], ['6'], ['3'], ['6'], ['9']]

In [315]:
x.sort(reverse=True)

In [316]:
n = len(x)
m = len(x[0])
aaaa = ""
for i in range(n):
    for j in range(m):
        aaaa += x[i][j]
print(aaaa)

99887776655544322

In [317]:
type(aaaa)

str

In [41]:
A =   [55,74,98,7,56,8,996,54]
x = []
AA = sorted(A)
for i in range(len(AA)):
    AA[i] = str(AA[i])
print(AA)
for i in range(len(AA)):
    for j in range(len(AA[i])):
        x.append(AA[i][j].split())
print(x)
x.sort(reverse=True)
print(x)
n = len(x)
m = len(x[0])
aaaa = ""
for i in range(n):
    for j in range(m):
        aaaa += x[i][j]
print(aaaa)

['7', '8', '54', '55', '56', '74', '98', '996']
[['7'], ['8'], ['5'], ['4'], ['5'], ['5'], ['5'], ['6'], ['7'], ['4'], ['9'], ['8'], ['9'], ['9'], ['6']]
[['9'], ['9'], ['9'], ['8'], ['8'], ['7'], ['7'], ['6'], ['6'], ['5'], ['5'], ['5'], ['5'], ['4'], ['4']]
999887766555544

# ==============================================

# strings # STRINGS

In [328]:
chr(35)

'#'

In [329]:
ord('#')

35

In [101]:
for i in range(1,1001):
    print(i,chr(i),end = "|")

1 |2 |3 |4 |5 |6 |7 |8 |9 	|10
|14 |15 |16 |17 |18 |19 |20 |21 |22 |23 |24 |25 |26 |27 |28 |29 |30 |31 |32  |33 !|34 "|35 #|36 $|37 %|38 &|39 '|40 (|41 )|42 *|43 +|44 ,|45 -|46 .|47 /|48 0|49 1|50 2|51 3|52 4|53 5|54 6|55 7|56 8|57 9|58 :|59 ;|60 <|61 =|62 >|63 ?|64 @|65 A|66 B|67 C|68 D|69 E|70 F|71 G|72 H|73 I|74 J|75 K|76 L|77 M|78 N|79 O|80 P|81 Q|82 R|83 S|84 T|85 U|86 V|87 W|88 X|89 Y|90 Z|91 [|92 \|93 ]|94 ^|95 _|96 `|97 a|98 b|99 c|100 d|101 e|102 f|103 g|104 h|105 i|106 j|107 k|108 l|109 m|110 n|111 o|112 p|113 q|114 r|115 s|116 t|117 u|118 v|119 w|120 x|121 y|122 z|123 {|124 ||125 }|126 ~|127 |128 |129 |130 |131 |132 |133 |134 |135 |136 |137 |138 |139 |140 |141 |142 |143 |144 |145 |146 |147 |148 |149 |150 |151 |152 |153 |154 |155 |156 |157 |158 |159 |160 |161 |162 |163 |164 |165 |166 |167 |168 |169 |170 |171 |172 |173 |174 |175 |176 |177 |178 |179 |180 |181 |182 |183 |184 |185 |186 |187 |188 |189 |190 |191 |192 |193 |194 |195 |196 |197 |198 |199 |200 |201 |202 |203 |204 |205 |206 |207 |208 |209 |210 |211 |212 |213 |214 |215 |216 |217 |218 |219 |220 |221 |222 |223 |224 |225 |226 |227 |228 |229 |230 |231 |232 |233 |234 |235 |236 |237 |238 |239 |240 |241 |242 |243 |244 |245 |246 |247 |248 |249 |250 |251 |252 |253 |254 |255 |256 |257 |258 |259 |260 |261 |262 |263 |264 |265 |266 |267 |268 |269 |270 |271 |272 |273 |274 |275 |276 |277 |278 |279 |280 |281 |282 |283 |284 |285 |286 |287 |288 |289 |290 |291 |292 |293 |294 |295 |296 |297 |298 |299 |300 |301 |302 |303 |304 |305 |306 |307 |308 |309 |310 |311 |312 |313 |314 |315 |316 |317 |318 |319 |320 |321 |322 |323 |324 |325 |326 |327 |328 |329 |330 |331 |332 |333 |334 |335 |336 |337 |338 |339 |340 |341 |342 |343 |344 |345 |346 |347 |348 |349 |350 |351 |352 |353 |354 |355 |356 |357 |358 |359 |360 |361 |362 |363 |364 |365 |366 |367 |368 |369 |370 |371 |372 |373 |374 |375 |376 |377 |378 |379 |380 |381 |382 |383 |384 |385 |386 |387 |388 |389 |390 |391 |392 |393 |394 |395 |396 |397 |398 |399 |400 |401 |402 |403 |404 |405 |406 |407 |408 |409 |410 |411 |412 |413 |414 |415 |416 |417 |418 |419 |420 |421 |422 |423 |424 |425 |426 |427 |428 |429 |430 |431 |432 |433 |434 |435 |436 |437 |438 |439 |440 |441 |442 |443 |444 |445 |446 |447 |448 |449 |450 |451 |452 |453 |454 |455 |456 |457 |458 |459 |460 |461 |462 |463 |464 |465 |466 |467 |468 |469 |470 |471 |472 |473 |474 |475 |476 |477 |478 |479 |480 |481 |482 |483 |484 |485 |486 |487 |488 |489 |490 |491 |492 |493 |494 |495 |496 |497 |498 |499 |500 |501 |502 |503 |504 |505 |506 |507 |508 |509 |510 |511 |512 |513 |514 |515 |516 |517 |518 |519 |520 |521 |522 |523 |524 |525 |526 |527 |528 |529 |530 |531 |532 |533 |534 |535 |536 |537 |538 |539 |540 |541 |542 |543 |544 |545 |546 |547 |548 |549 |550 |551 |552 |553 |554 |555 |556 |557 |558 |559 |560 |561 |562 |563 |564 |565 |566 |567 |568 |569 |570 |571 |572 |573 |574 |575 |576 |577 |578 |579 |580 |581 |582 |583 |584 |585 |586 |587 |588 |589 |590 |591 |592 |593 |594 |595 |596 |597 |598 |599 |600 |601 |602 |603 |604 |605 |606 |607 |608 |609 |610 |611 |612 |613 |614 |615 |616 |617 |618 |619 |620 |621 |622 |623 |624 |625 |626 |627 |628 |629 |630 |631 |632 |633 |634 |635 |636 |637 |638 |639 |640 |641 |642 |643 |644 |645 |646 |647 |648 |649 |650 |651 |652 |653 |654 |655 |656 |657 |658 |659 |660 |661 |662 |663 |664 |665 |666 |667 |668 |669 |670 |671 |672 |673 |674 |675 |676 |677 |678 |679 |680 |681 |682 |683 |684 |685 |686 |687 |688 |689 |690 |691 |692 |693 |694 |695 |696 |697 |698 |699 |700 |701 |702 |703 |704 |705 |706 |707 |708 |709 |710 |711 |712 |713 |714 |715 |716 |717 |718 |719 |720 |721 |722 |723 |724 |725 |726 |727 |728 |729 |730 |731 |732 |733 |734 |735 |736 |737 |738 |739 |740 |741 |742 |743 |744 |745 |746 |747 |748 |749 |750 |751 |752 |753 |754 |755 |756 |757 |758 |759 |760 |761 |762 |763 |764 |765 |766 |767 |768 |769 |770 |771 |772 |773 |774 |775 |776 |777 |778 |779 |780 |781 |782 |783 |784 |785 |786 |787 |788 |789 |790 |791 |792 |793 |794 |795 |796 |797 |798 |799 |800 |801 |802 |803 |804 |805 |806 |807 |808 |809 |810 |811 |812 |813 |814 |815 |816 |817 |818 |819 |820 |821 |822 |823 |824 |825 |826 |827 |828 |829 |830 |831 |832 |833 |834 |835 |836 |837 |838 |839 |840 |841 |842 |843 |844 |845 |846 |847 |848 |849 |850 |851 |852 |853 |854 |855 |856 |857 |858 |859 |860 |861 |862 |863 |864 |865 |866 |867 |868 |869 |870 |871 |872 |873 |874 |875 |876 |877 |878 |879 |880 |881 |882 |883 |884 |885 |886 |887 |888 |889 |890 |891 |892 |893 |894 |895 |896 |897 |898 |899 |900 |901 |902 |903 |904 |905 |906 |907 |908 |909 |910 |911 |912 |913 |914 |915 |916 |917 |918 |919 |920 |921 |922 |923 |924 |925 |926 |927 |928 |929 |930 |931 |932 |933 |934 |935 |936 |937 |938 |939 |940 |941 |942 |943 |944 |945 |946 |947 |948 |949 |950 |951 |952 |953 |954 |955 |956 |957 |958 |959 |960 |961 |962 |963 |964 |965 |966 |967 |968 |969 |970 |971 |972 |973 |974 |975 |976 |977 |978 |979 |980 |981 |982 |983 |984 |985 |986 |987 |988 |989 |990 |991 |992 |993 |994 |995 |996 |997 |998 |999 |1000 |

0

In [103]:
2**16

65536

In [112]:
S = "S"

chr(ord("A")+32)

'a'

In [113]:
chr(ord("a")-32)

'A'

# Q1: toggle the case of each letter :

In [386]:
def toggle_case(s):
    ans = ""
    for i, c in enumerate(s):
        code = ord(c)
        
        if 97 <= code <= 122:  # lower case char
            ans += chr(code - 32)
        if 65 <= code <= 90:
            ans += chr(code + 32)
        
    return ans

In [387]:
toggle_case("SuNnY")

'sUnNy'

In [388]:
toggle_case("Scaler Is Awesome!")

'sCALERiSaWESOME'

In [116]:
def toggle_case2(s):
    liststring = list(s)
    print(liststring)
    for i in range(len(liststring)):
                
        code = ord(liststring[i])
        
        if 97 <= code <= 122:  # lower case char
            liststring[i] = (chr(code - 32))
        if 65 <= code <= 90:
            liststring[i] = (chr(code + 32))
    print(liststring)
    
    return "".join(liststring)

In [118]:
toggle_case2("Su  NnY &*() P ")

['S', 'u', ' ', ' ', 'N', 'n', 'Y', ' ', '&', '*', '(', ')', ' ', 'P', ' ']
['s', 'U', ' ', ' ', 'n', 'N', 'y', ' ', '&', '*', '(', ')', ' ', 'p', ' ']

'sU  nNy &*() p '

In [391]:
toggle_case2("Scaler is Awesome.")

'sCALER IS aWESOME.'

In [129]:
ord("S")^32, ord("s")^32

(115, 83)

In [131]:
chr(115), chr(83)

('s', 'S')

In [392]:
def toggle_case3(s):
    liststring = list(s)
    for i in range(len(liststring)):
                
        code = ord(liststring[i])
        
        if (97 <= code <= 122) or (65 <= code <= 90):
            liststring[i] = (chr(code ^ 32))
        
    
    return "".join(liststring)

In [393]:
toggle_case3("GGFlkjJGF;ljHGF")

'ggfLKJjgf;LJhgf'

In [124]:
letters = ['s','c','a','l','e','r']
ans = ""

for x in letters:  # O(n**2)
    ans += x
    print(ans)
print()
print(ans)

s
sc
sca
scal
scale
scaler

scaler

In [43]:
z = "kjdjbasjkbg"
ls = list(z)
print(ls)

['k', 'j', 'd', 'j', 'b', 'a', 's', 'j', 'k', 'b', 'g']

In [119]:
S = "Scaler is Awesome"


Slist = S.split()
print(Slist)
ans = []
for word in Slist:
    ans.append(word[::-1])
    
print(ans) 

print(" ".join(ans))

['Scaler', 'is', 'Awesome']
['relacS', 'si', 'emosewA']
relacS si emosewA

In [120]:
S = "Scaler is Awesome"


Slist = S.split()
print(Slist)
ans = Slist[::-1]
print(" ".join(ans))

['Scaler', 'is', 'Awesome']
Awesome is Scaler

['Awesome', 'is', 'Scaler']

# counting sort    

##### no comparision here, only counting based sort

### O(n) time and space complexity

In [150]:
# sort lower case strings 
# without using sort function 
# without sorting

A = "dadbsvsfadasxeffxddxss"

counts =  [0] * 26
for chars in A:
    code =ord(chars)-97
    counts[code] +=  1
print(counts)
print()
letters = []

for i in range(len(counts)):                      # O(26)
    letters.append(chr(i+97)*counts[i])       
print(letters)
print()
print("ans >>--:-->> ","".join(letters))

[3, 1, 0, 5, 1, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 1, 0, 3, 0, 0]

['aaa', 'b', '', 'ddddd', 'e', 'fff', '', '', '', '', '', '', '', '', '', '', '', '', 'sssss', '', '', 'v', '', 'xxx', '', '']

ans >>--:-->>  aaabdddddefffsssssvxxx

In [3]:
A = "ABCD"

for s in range(len(A)):
    for e in range(s,len(A)):
        print(A[s:e+1])

A
AB
ABC
ABCD
B
BC
BCD
C
CD
D

In [163]:
A = "dadbsvsfadasxeffxddxss"



AA = sorted(a)
print(AA)
print()
print()
print("".join(AA))

['a', 'a', 'a', 'b', 'd', 'd', 'd', 'd', 'd', 'e', 'f', 'f', 'f', 's', 's', 's', 's', 's', 'v', 'x', 'x', 'x']


aaabdddddefffsssssvxxx

In [164]:
A = "dadbsvsfadasxeffxddxss"



print("".join(sorted(a)))

aaabdddddefffsssssvxxx

In [166]:
print(enumerate([10,20,30]))

<enumerate object at 0x000001E187B0DB00>

In [548]:
class Solution:
    # @param A : string
    # @return an integer
    def solve(self, A):
        s = "bob"
        n = len(A)
        ans = 0
        for i in range(len(A)-len(s)+1):
            j = 0
            while j < len(s) :
                if A[i+j] != s[j]:
                    break
                j += 1
            
            if j == len(s):
                ans += 1
        return (ans)


'''
Find the number of occurrences of bob in string A consisting of lowercase English alphabets
'''

In [179]:
A = "asdBOBOBasBOdasdBOBOB"

def count_occurance(A,s):
    n = len(A)
    m = len(s)
    ans = 0
    
    for i in range(n-m+1):
        j = 0
        while j < m:
            if A[i+j] != s[j]:
                break
            j += 1
#         print(j)
        if j == m:
            ans += 1
    return ans
                
count_occurance(A,"BOB")

4

In [197]:
def longestCommonPrefix(A):




# minlenstring = minlen
    minlen = float('inf')
    for i in range(len(A)):
        element_l = len(A[i])
        minlen = min(element_l, minlen)
    print(minlen)
    ans = ""   
    for i in range(0,minlen):
        validation = True
        ch = A[0][i]
        for j in range(0,len(A)):
            if A[j][i] != ch:
                validation = False
                break
        if validation:
            ans = ans + ch
        else:
            return (ans)
    return (ans)
A = ["xcabinger","xcabring","xcable","xcassdf"]
longestCommonPrefix(A)

6

'xca'

In [198]:
longestCommonPrefix(A)

6

'xca'

In [89]:
A = ["xcabinger","xcabring","xcable","xcassdf"]
def pragy_longest_prefix(A):
    n = len(A)
    m = len(A[0])
    ans = None
    for col in range(len(A[0])):
        
        ch = A[0][col]
        
        for row in range(n):
            if col >= len(A[row]):
                return  col
            if A[row][col] != ch:
                return col
    
    
def pragy_longest_prefix_final(A):
    return A[0][:pragy_longest_prefix(A)]

pragy_longest_prefix_final(A)

'xca'

In [86]:
A[0][:3]

'xca'

In [572]:
ord("#")

35

In [575]:
A = ["x","5"]

for i in A:
    print(ord(i))

120
53

In [95]:
A = "ldjlfbjklbobgbabobslkjvhalbosdlfjbob"
n = len(A)
count = 0
for i in range(n-2):
    if A[i] == 'b' and A[i+1] == 'o' and A[i+2] == 'b':
        count += 1
print(count)

3

In [136]:
Ax = 123
from  collections  import Counter

A = str(Ax)
print(A)
n = len(A)
req_seq = []

for s in range(n):
    for e in range(s,n):
        req_seq.append(int(A[s:e+1]))
print(req_seq)


def product(n):
    product = 1
    while n != 0:
        digit = n%10
        product *= digit
        n = n//10
    return product

freq = {}

for i in req_seq:
    freq[i] = product(i)

print(freq)

l = freq.values()

print()
print(l)

asd = (set(l))
print(asd)
if len(asd) != len(l):
    print("yes")
else:
    print("NO")

123
[1, 12, 123, 2, 23, 3]
{1: 1, 12: 2, 123: 6, 2: 2, 23: 6, 3: 3}

dict_values([1, 2, 6, 2, 6, 3])
{1, 2, 3, 6}
yes

In [162]:
A = 23
def color(A):
    x = []
    while A >0:
        digit = A%10
        x.append(digit)
        A //= 10
    x.reverse()
    n = len(x)
    asd = set()
    print(x)
    for s in range(n):
        product = 1
        for e in range(s,n):
            product *= x[e]
            print(asd)
            if product in asd:
                return 0
            
            asd.add(product)
    return 1
color(A)

[2, 3]
set()
{2}
{2, 6}

1

In [181]:
Ax = 5423
def colorrrrr(Ax):
    A = []
    while Ax > 0:
        d = Ax % 10
        A.append(d)
        Ax  = Ax//10
    A.reverse()    
    n = len(A)
    seett = set()
    for s in range(n):
        product = 1
        for e in range(s,n):
            product *= A[e]
            if product in seett:
                return 0
            seett.add(product)
    return 1
colorrrrr(123)

0

In [188]:
def diffPossible(A, k):
    for i in A:
        target = i - k
        if target in set(A):
            return 1
    return 0

diffPossible([0],0)

1

In [ ]:
A = "aaaabaaa"
start = None
end = None
for i in range(len(A)):

In [205]:
A = "aaaacbaaca"
maxlen = -float('inf')
n = len(A)
ans = None
for s in range(n):
    for e in range(s,n):
        x = A[s:e+1]
        if x == x[::-1]:
            length = e-s+1  
            if length > maxlen:
                maxlen = length
                ans = x
print(ans)

aaaa

In [209]:
def ispalindrome(A):
    if A == A[::-1]:
        return True
    return False

In [211]:
ispalindrome("TENT")

False

In [231]:
A = "aaadabaaa"
n = len(A)
start = 0
end = n-1
answer = None

In [2]:

def longestPalindrome(A):
    aLen = len(A)
    if aLen == 0:
        return A
    A2 = "|"
    for x in A:
        A2 += x + "|"
    p = [0] * (2 * aLen + 1)
    c = 0
    r = 0
    m = 0
    n = 0
    for i in range(1, 2 * aLen + 1):
        if i > r:
            p[i] = 0
            m = i - 1
            n = i + 1
        else:
            i2 = c * 2 - i
            if p[i2] < r - i:
                p[i] = p[i2]
                m = -1
            else:
                p[i] = r - i
                n = r + 1
                m = i * 2 - n
        while m >= 0 and n < 2 * aLen + 1 and A2[m] == A2[n]:
            p[i] += 1
            m -= 1
            n += 1
        if i + p[i] > r:
            c = i
            r = i + p[i]
    leng = 0
    c = 0
    for i in range(1, 2 * aLen + 1):
        if leng < p[i]:
            leng = p[i]
            c = i
    ret = A2[c - leng + 1 : c + leng + 1 : 2]
    
    return ret


longestPalindrome("ASDASAADDAAD")

'AADDAA'