#### Given a number N>=1, when can we say it is a prime number ?

    When no of factors are == 2
    
    
    
    Number 1 neither prime not composit 
    2 is prime 
    3 is prime 
    4 is composite. ...

## if prime ?

In [17]:
N = 1
def isprime(N):
    if N == 1:
        return "1 is neither prime nor composite"
    f = 0
    for i in range(1,N+1):
        if N%i == 0:
            f += 1
    return f  == 2
    
isprime(1)

'1 is neither prime nor composite'

In [19]:
isprime(4)

False

In [20]:
isprime(3)

True

In [30]:
N = 1
def isprime(N):
    if N == 1:
        return "1 is neither prime nor composite"
    for i in range(2,N):
        if N%i == 0:
            return False
    return True
    
    
isprime(97)

True

    approximately a computer can handle 10^8 iterations in 1 seconds .
    
    if we want to find if ( 10^9 + 7 ) a prime number ,
    this will take 10 seconds approximately with O(n) algorithm 
    
    if we want to find if ( 10^18) a prime number ,
    above algorithm O(n) will take 10 billion seconds =~ 317 years .
    
    
    so we need to optimize the time taken to run :

    N = 60

    factors of 60 
    -------------
    1  * 60     i < N
    2  * 30
    3  * 20
    4  * 15
    5  * 12
    6  * 10
    --------factors are repeting after this point (factos appear in pairs) 
    10 * 6      i > N/i
    12 * 5
    15 * 4
    20 * 3
    30 * 2
    60 * 1      
    -------------

    24:
    
    1    24     a < b
    2    12
    3    8
    4    6
    -------------
    6    4      a > b
    8    3
    12   2
    24   1
    
    
    a > b
    a*b = N
    a = N/b
    
    a > b
    N/b > b 
    N > b**2
    
    sq(N) > b

    instead of looping from 1 to N
    we can only loop till square root of N as after that we wont find any new factors.

In [33]:
import math

In [41]:
N = 1

def isprime(N):
    if N == 1:
        return "1 is neither prime nor composite"
    factor_count = 0
    for i in range(1,(int(math.sqrt(N))+1)):
        if N%i == 0:
            factor_count += 2
    return factor_count == 2
    
    
isprime(97),isprime(98),isprime(13)

(True, False, True)

    # from above code, we will be able to calculate if 10**18 is prime or not in just 10 seconds

    (math.sqrt(10**18))/10**8 = 10

In [ ]:
# if we dont want to use math library or pythonic way (N)**0.5:

    i < sqrt(N) +1 
    i^2 < (sqrt(N)+1)^2
    i^2 < N+1

In [49]:
N = 1
def isprime(N):
    
    i = 1
    factor_count = 0
    
    while i*i <= N:
        
        if N%i == 0:
            factor_count += 2
        i += 1
        
    return factor_count == 2
    
    
isprime(97),isprime(98),isprime(13),isprime(3)

(True, False, True, True)

In [53]:
N = 1
def isprime(N):
    
    i = 2
    
    while i*i <= N:
        
        if N%i == 0:
            return False
        i += 1
        
    return True
    
    
isprime(97),isprime(98),isprime(13),isprime(3),isprime(4),isprime(25)

(True, False, True, True, False, False)

## given a number N find floor largest number  <= sqrt(N)
## ignore the factorial part (round down)
    
        sqrt(49) = 7
        sqrt(24) = 4
        sqrt(25) = 5
        sqrt(26) = 5

In [ ]:
# O(sqrt(N))

In [157]:
def returnPerfectSQ_o_sq(N):
    i = 1
    while i*i <= N:
        i += 1
    return i-1
        
returnPerfectSQ_o_sq(25),returnPerfectSQ_o_sq(26),returnPerfectSQ_o_sq(23)

(5, 5, 4)

In [ ]:
## using binary search (O(log(n)))

In [152]:
def returnPerfectSQ(N):
    high = N
    low = 1
    
    
    while low <= high:  
        mid = ( high + low ) // 2 
        
        
        if mid * mid > N:
            high = mid - 1
            
            
        elif mid * mid < N:
            low = mid + 1
        
        else:
            return mid
            
        
    return high

In [155]:
returnPerfectSQ(26),returnPerfectSQ(25),returnPerfectSQ(24)

(5, 5, 4)

In [160]:
returnPerfectSQ(10**18) # takes 0.6 micro seconds

1000000000

### Square root of a number

#### Given a number A. Return square root of the number if it is perfect square otherwise return -1.



    Problem Constraints

    1 <= A <= 108



    Input Format

    First argument is an integer A.



    Output Format

    Return an integer which is the square root of A if A is perfect square otherwise return -1.



    Example Input

    Input 1:

    A = 4
    Input 2:

    A = 1001


    Example Output

    Output 1:

    2
    Output 2:

    -1


    Example Explanation

    Explanation 1:

    sqrt(4) = 2
    Explanation 2:

    1001 is not a perfect square.

In [218]:
def perfect_(A):

    def perfect_square(n):

        low = 1
        high = n

        while low <= high: 
            mid = (low + high)//2
            if mid * mid > n:
                high = mid - 1 

            elif mid * mid < n:
                low = mid + 1
            else:
                return mid
        return None

    def sqrt_num_if_perfect_sq(n):
        if perfect_square(n) != None:
            return perfect_square(n) 
        return -1

    return sqrt_num_if_perfect_sq(A)

In [224]:
perfect_(37)

-1

In [223]:
perfect_(36)

6

 ### Is It Perfect?

#### You are given N positive integers. For each given integer A, you have to tell whether it is a perfect number or not. A perfect number is a positive integer which is equal to the sum of its proper positive divisors.



    Problem Constraints

    1 <= N <= 10

    1 <= A <= 106



    Input Format

    The first line of the input contains a single integer N.

    Each of the next N lines contains a single integer A.



    Output Format

    In a separate line, print YES if a given integer is perfect, else print NO.



    Example Input

    Input 1:

     2
     4
     6 
    Input 2:

     1
     3 


    Example Output

    Output 1:

     NO
     YES 
    Output 2:

     NO 


    Example Explanation

    Explanation 1:

     For A = 4, the answer is "NO" as sum of its proper divisors = 1 + 2 = 3, is not equal to 4. 
     For A = 6, the answer is "YES" as sum of its proper divisors = 1 + 2 + 3 = 6, is equal to 6. 
    Explanation 2:

     For A = 3, the answer is "NO" as sum of its proper divisors = 1, is not equal to 3.

In [210]:
def isperfect(n):
    factors = 0 
    for i in range(1,n):
        if n%i == 0:
            print(i)
            factors += i
    if factors == n:
        return True
    return False
            
    
isperfect(6)

1
2
3

True

In [214]:
def isperfect(n):
    factors = 0 
    i = 1
    while i < n:
        if n%i == 0:
            print(i)
            factors += i
        i+=1
    if factors == n:
        return True
    return False
            
    
isperfect(6)

1
2
3

True

### Armstrong Numbers!

#### You are given an integer N you need to print all the Armstrong Numbers between 1 to N.  If sum of cubes of each digit of the number is equal to the number itself, then the number is called an Armstrong number.  
    For example, 153 = ( 1 * 1 * 1 ) + ( 5 * 5 * 5 ) + ( 3 * 3 * 3 ).

        Problem Constraints
        1 <= N <= 500

        Input Format
        First and only line of input contains an integer N.

        Output Format
        Output all the Armstrong numbers in range [1,N] each in a new line.

        Example Input
        Input 1:
         5
        Input 2:
         200

        Example Output
        Output 1:
        1
        Output 2:
        1
        153

        Example Explanation
        Explanation 1:
        1 is an armstrong number.
        Explanation 2:
        1 and 153 are armstrong number under 200.

In [240]:
def isArmstrong(n):
    total = 0
    original = n
    while n != 0:
        digit = n % 10
        n = n//10
        total += (digit)**(len(str(original)))
    
    if total == original:
        return True
    return False

In [241]:
isArmstrong(548834)

True

In [242]:
for i in range(100000):
    if isArmstrong(i):
        print(i)

0
1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474
54748
92727
93084

    N = 2048   

    step   value
    0   2048       N
    1   1024       N/2
    2   512        N/4
    3   256        N/8
    4   128        N/2**4
    5   64         N/2**5 
    6   32
    7   16
    8   8
    9   4
    10  2
    11  1
    .
    .
    .
    k             N/2**k  = 1

    N = 2**k

    logN =  k  = numbers of steps we want

## How many digits are there in 2^46 :

    10 ^ ?  = 2^46

    2^46 = 10^(46/log2(10))

In [256]:
2**46

70368744177664

In [260]:
int(46/math.log2(10))+1

14

In [257]:
10**(46/math.log2(10))

70368744177664.14

In [255]:
3**15

14348907

In [262]:
int(15/math.log(10,3))+1

8

### Create a list of all squares of 1 till 10

In [265]:
sq = []
for i in range(1,11):
    sq.append(i*i)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [266]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### What is the time complexity of accessing element at the ith index in an array of size N? Time complexity to access arr[i] ?

    O(1)

### find the sum of array :

In [267]:
def sum_array(A):
    total =  0
    for i in range(len(A)):
        total += A[i]
    return total
sum_array([1,2,3,4,5,6,7,8,9,10])

55

In [268]:
def sum_array(A):
    total =  0
    for i in A:
        total += i
    return total
sum_array([1,2,3,4,5,6,7,8,9,10])

55

### Given N elements in list ,count number of elements which have atleast 1 element greater than itself present in the list :

In [274]:
A = [1,3,2,6,8,9,0,-30,-20,5]

def count_greater_elements(A):
    n = len(A)
    count = 0
    for x in A:
        haslarger = False
        for value in A:
            if value > x:
                haslarger = True
        if haslarger:
            count += 1
    return count
count_greater_elements(A)

9

In [278]:
count_greater_elements([8,8,8,1,8,8,8,2])

2

In [285]:
def count_greater_elements(A):
    
    n = len(A)
    maxval = -float("inf")
    
    for i in A:
        if i > maxval:
            maxval = i

    not_max_count = 0
    
    for x in A:
        if x < maxval:
            not_max_count += 1
            
    return not_max_count
            
    
    
count_greater_elements([8,8,8,1,8,8,8,2])

2

### Reverse the given list :

In [286]:
A = [1,10,3,6,8]
A[::-1]

[8, 6, 3, 10, 1]

In [291]:
def reverse_list(A):
    
    n = len(A)
    reversed_list = []
    for i in reversed(range(len(A))):
        reversed_list.append(A[i])
        
    return reversed_list

reverse_list(A)

[8, 6, 3, 10, 1]

In [292]:
def reverse_list(A):
    
    n = len(A)
    
    for i in range(len(A)//2):
        A[i],A[n-i-1] = A[n-i-1],A[i]    # tuple unpacking 
    return A

reverse_list(A)

[8, 6, 3, 10, 1]

    i   <>  n-1
    i+1 <>  n-i-1
    
    0 <> 5
    1 <> 4
    2 <> 3 stop here. n//2
    3 <> 2

In [301]:
def reverse_list(A):
    
    n = len(A)
    
    for i in range(len(A)//2):
        temp = A[i]
        A[i] = A[n-i-1]
        A[n-i-1] = temp
        
    return A

A = [1,10,3,6,8]

reverse_list(A)

[8, 6, 3, 10, 1]

###  Rotation Game

### Given an integer array A of size N and an integer B, you have to print the same array after rotating it B times towards the right.


    Problem Constraints
    1 <= N <= 106
    1 <= A[i] <=108
    1 <= B <= 109


    Input Format
    There are 2 lines in the input

    Line 1: The first number is the size N of the array A. Then N numbers follow which indicate the elements in the array A.

    Line 2: A single integer B.


    Output Format
    Print array A after rotating it B times towards the right.


    Example Input
    Input 1 :
    4 1 2 3 4
    2


    Example Output
    Output 1 :
    3 4 1 2


    Example Explanation
    Example 1 :

    N = 4, A = [1, 2, 3, 4] and B = 2.

    Rotate towards the right 2 times - [1, 2, 3, 4] => [4, 1, 2, 3] => [3, 4, 1, 2]

    Final array = [3, 4, 1, 2]

In [308]:
A = list(map(int,input().split()))

rotations = int(input())
n = A.pop(0)
print("length of array: ",n)
print("Array:",A)

rotations = rotations % n

for i in range(rotations):
    A.insert(0,A.pop())
    
A

4 1 2 3 4
2
length of array:  4
Array: [1, 2, 3, 4]

[3, 4, 1, 2]

### Good Pair

### Given an array A and an integer B. A pair(i, j) in the array is a good pair if i != j and (A[i] + A[j] == B). Check if any good pair exist or not.

    Problem Constraints
    1 <= A.size() <= 104
    1 <= A[i] <= 109
    1 <= B <= 109

    Input Format
    First argument is an integer array A.
    Second argument is an integer B.

    Output Format
    Return 1 if good pair exist otherwise return 0.

    Example Input
    Input 1:
    A = [1,2,3,4]
    B = 7
    Input 2:
    A = [1,2,4]
    B = 4
    Input 3:
    A = [1,2,2]
    B = 4

    Example Output
    Output 1:
    1
    Output 2:
    0
    Output 3:
    1

    Example Explanation
    Explanation 1:
     (i,j) = (3,4)
    Explanation 2:
    No pair has sum equal to 4.
    Explanation 3:
     (i,j) = (2,3)

In [340]:
# what is asked n question:

def GoodPair(A,k):
    n = len(A)
    for i in range(n):
        for j in range(i,n):
            if i!=j:
                if A[i]+A[j]==B:
                    return 1
    return 0

A = [1,2,3,4]
k = 7
GoodPair(A,k)

1

In [ ]:
# variations :

In [337]:
A = [1,2,3,4]
k = 7

    n = len(A)
    c = 0
    for i in range(n):
        for j in range(i,n):
            if A[i]+A[j] == k:
                c+=1
    return c

A = [1,2,3,4,4,3]
k = 7
GoodPair(A,k)   # combination pair counts

4

In [ ]:
# individual pair counts

In [335]:
A = [1,2,3,4]
k = 7

def GoodPair(A,k):
    
    n = len(A)
    c = 0
    Aset = set()
    
    for i in A:
        target = k-i
        if target in Aset:
            c+=1
        else:
            Aset.add(i)
    return c
    

A = [1,2,3,4,2,4]
k = 6
GoodPair(A,k)

2

###  Max and Min of an Array

In [342]:
A = list(map(int,input().split()))
N = A[0]
maxm = A[1]


for i in range(1,N+1):
    if A[i] > maxm:
        maxm = A[i]

minm = A[1]
for i in range(1,N):
    if A[i]<minm:
        minm = A[i]

print(maxm,minm)

4 10 50 40 80
80 10

### Little Ponny and Maximum Element

#### Little Ponny is given an array, A, of N integers. In a particular operation, he can set any element of the array equal to -1. He wants your help in finding out the minimum number of operations required such that the maximum element of the resulting array is B. If it is not possible, then return -1.


    Problem Constraints
    1 <= |A| <= 105
    1 <= A[i] <= 109

    Input Format
    The first argument of input contains an integer array, A.
    The second argument of input contains an integer, B.

    Output Format
    Return an integer representing the answer.

    Example Input
    Input 1:

     A = [2, 4, 3, 1, 5]
     B = 3 
    Input 2:

     A = [1, 4, 2]
     B = 3 

    Example Output
    Output 1:
     2 
    Output 2:
     -1 

    Example Explanation
    Explanation 1:

     We need to remove 4 and 5 to make 3 the biggest element. 
    Explanation 2:

     As 3 doesn't exist in the array, the answer is -1.

In [351]:
A = [2, 4, 3, 1, 5]
B = 3 
def little_pony_max_element(A,B):
    if B not in A:
        return -1
    number_of_operations = 0
    n = len(A)
    maxele_to_be = B
    for i in A:
        if i > maxele_to_be:
            number_of_operations +=  1
    return number_of_operations
    

A = [2, 4, 3, 1, 5]
B = 3 
little_pony_max_element(A,B)

2

In [352]:

A = [1, 4, 2]
B = 3 
little_pony_max_element(A,B)

-1

### Second Largest

### You are given an integer array A. You have to find the second largest element/value in the array or report that no such element exists.

    Problem Constraints
    1 <= |A| <= 105
    0 <= A[i] <= 109

    Input Format
    The first argument is an integer array A.
    Output Format
    Return the second largest element. If no such element exist then return -1.

    Example Input
    Input 1:
     A = [2, 1, 2] 
    Input 2:
     A = [2]
    Example Output
    Output 1:
     2 
    Output 2:
     -1 

    Example Explanation
    Explanation 1:

     First largest element = 2
     Second largest element = 2
     Third largest element = 1
    Explanation 2:

     There is no second largest element in the array.

In [362]:
A = [1,2,3,4,5]
def find_Second_largest(A):
    n = len(A)
    
    max1 = -float("inf")
    max2 = -float("inf")
    
    for i in A:
        if i > max1:
            max2 = max1
            max1 = i
        elif i > max2:
            max2 = i
    if max2 == -float("inf"):
        return -1,max1
    return max2,max1
    
    
A = [9,4,2,7,3]
find_Second_largest(A)

(7, 9)

In [364]:
A = [99]
find_Second_largest(A)

(-1, 99)

### MINIMUM PICKS

#### You are given an array of integers A of size N. Return the difference between the maximum among all even numbers of A and the minimum among all odd numbers in A.

In [365]:
def minimum_picks(A):
    odds = [x for x in A if x%2!=0]
    even = [x for x in A if x%2==0]



    return max(even)-min(odds)

In [366]:
minimum_picks([5,17,100,1])

99

### Separate Odd Even

#### You are given an integer T denoting the number of test cases. For each test case, you are given an integer array A. You have to print the odd and even elements of array A in 2 separate lines. 
    NOTE: Array elements should have the same relative order as in A.



    Problem Constraints
    1 <= T <= 10

    1 <= |A| <= 105

    1 <= A[i] <= 109



    Input Format
    First line of the input contains a single integer T.

    For each test case:

    First line consists of a single integer |A| denoting the length of array.
    Second line consists of |A| space separated integers denoting the elements of array A.


    Output Format
    For each test case:

    First line should contain an array of space separated integers containing all the odd elements of array A
    Second line should contain an array of space separated integers containing all the even elements of array A


    Example Input
    Input 1:

     2 
     5
     1 2 3 4 5
     3
     4 3 2
    Input 2:

     2 
     3
     2 2 2
     2
     1 1


    Example Output
    Output 1:

     1 3 5
     2 4
     3
     4 2
    Output 2:


     2 2 2
     1 1



    Example Explanation
    Explanation 1:

     Test Case 1: 
     Odd elements in the array(in the order they occur) are: 1, 3, 5.
     Even elements in the array(in the order they occur) are: 2, 4.

     Test Case 2 
     Odd elements in the array(in the order they occur) are: 3.
     Even elements in the array(in the order they occur) are: 4, 2.
    Explanation 2:

     Test Case 1: 
     There are no odd elements in the array.
     Even elements in the array(in the order they occur) are: 2, 2, 2.

     Test Case 2 
     Odd elements in the array(in the order they occur) are: 1, 1.
     There are no even elements in the array.

In [367]:
def main():
    
    T = int(input())
    while T>0:
        T = T-1

        L = int(input())
        A = list(map(int,input().split()))
        
        for i in A:
            if i%2!=0:
                print(i,end =" ")
        print()
        for i in A:
            if i%2==0:
                print(i,end =" ")
        print()


    return 0

if __name__ == '__main__':
    main()

2
5
1 2 3 4 5
1 3 5
2 4
3
4 3 2
3
4 2

### Given an array of n integers , Q queries are given . 
### In each query start and end index given . print sum of start to end index .

In [380]:
def give_query_results(A,Q):

    while Q > 0:
        start = int(input("start:"))
        end = int(input("end:"))
        ans = 0
        for i in range(start,end+1):
            ans += A[i]
        print("sum:",ans)
        Q -= 1
give_query_results([1, 3, 0, -6, 8, 10, 2, 7],2)

start:0
end:2
sum: 4
start:4
end:6
sum: 20

In [381]:
439-360

79

### Given the scores of the last 10 overs of a cricket match:

    288, 312, 330, 349, 360, 383, 394, 406, 436, 439

#### How many runs were scored in the last 5 overs?

    439-360 = 79

### Given the scores of the last 10 overs of a cricket match :

    288, 312, 330, 349, 360, 383, 394, 406, 436, 439

#### How many runs were scored from 42nd to 45th over (both included) ?

    360-288 = 72

In [ ]:
# finding difference score between overs :

In [422]:
cumsum = [288, 312, 330, 349, 360, 383, 394, 406, 436, 439]
score_per_over = []
n = len(cumsum)


for i in range(len(cumsum)-1):
    
    score_per_over.append(cumsum[i+1]-cumsum[i])

score_per_over

[24, 18, 19, 11, 23, 11, 12, 30, 3]

### Prefix Sum (Cumulative Sum) :

In [384]:
def prefix_sum(A):
    prefixsum = [A[0]]
    for i in A[1:]:
        prefixsum.append(i + prefixsum[-1])
    return prefixsum
    

prefix_sum([1, 3, 0, -6, 4, 7, 8, 9])

[1, 4, 4, -2, 2, 9, 17, 26]

In [424]:
prefix_sum([288,24, 18, 19, 11, 23, 11, 12, 30, 3])

[288, 312, 330, 349, 360, 383, 394, 406, 436, 439]

    if s == 0:
    
    sum_till_e = prefix[e]
    
    else:
    if s != 0:
    
    Sum_Between_S_and_E = prefix[e]-prefix[s-1]

In [427]:
def give_query_results(A,Q):
    
    prefixsum = [A[0]]
    for i in A[1:]:
        prefixsum.append(i + prefixsum[-1])
        
    while Q > 0:
        start = int(input("start:"))
        end = int(input("end:"))
        if start == 0:
            print(prefixsum[end])
        else:
            print(prefixsum[end]-prefixsum[start-1])
        
        Q -= 1
give_query_results([1, 3, 0, -6, 8, 10, 2, 7],2)

start:0
end:4
6
start:4
end:5
18

#### Sum of all elements from index i to j :

    If i!=0: sum = pf[j] - pf[i-1]

    if i==0: sum = pf[j]

### Given an array of size N return True if there is an equilibrium  index in the array . i is an equilibrium index if 
   #### sum of elements before i = sum of elemebts after i 
   
   #### a[0] + .. + a[i-1] = a[i+1]+...+a[n-1]

In [ ]:
# not every array has the equilibrium index . 
# like  [1,2,3,4,5].

In [435]:
def equilibrium_index(A):   # TC:O(^2),SC:O(1)
    
    n = len(A)
    eq_index = []
    for i in range(n):
        before_i = 0
        for j in range(0,i):
            before_i += A[j]
        after_i = 0
        for j in range(i+1,n):
            after_i += A[j]
        if before_i == after_i:
            eq_index.append(i)
    return eq_index
            
        
A = [1,2,3,4,5,8,15]
equilibrium_index(A)

[5]

In [436]:
A = [-7,1,5,2,-4,3,0]
equilibrium_index(A)

[3, 6]

In [443]:
def equilibrium_index(A):   # TC:O(N),SC:O(N)
    
    n = len(A)
    
    prefix = [A[0]]
    for x in A[1:]:
        prefix.append(x+prefix[-1])
    
    
    eq_index = []
    
    
    for i in range(n):
        
        before_i = prefix[i-1]
            
        after_i = prefix[n-1]-prefix[i]
        
        if before_i == after_i:
            eq_index.append(i)
    if len(eq_index) == 0:
        return "No_Equilibrium_index"
    return eq_index
            
        
A = [1,2,3,4,5,8,15]
equilibrium_index(A)

[5]

In [444]:
        
A = [-7,1,5,2,-4,3,0]
equilibrium_index(A)

[3, 6]

In [445]:
        
A = [-7,1,5,2]
equilibrium_index(A)

'No_Equilibrium_index'

In [446]:
        
A = [0,0,0,0,0,0]
equilibrium_index(A)

[0, 1, 2, 3, 4, 5]

In [ ]:
# TC:O(N),SC:O(1)

In [451]:
def equilibrium_index(A):
    
    n = len(A)
    
    total = sum(A)
    eq_index = []
        
    before_i = 0
    for i in range(n):
        
        after_i = total - A[i] - before_i
        
        if before_i == after_i:
            eq_index.append(i)
            
        before_i += A[i] # update before_i total after calculating after_i total
    
    return eq_index
            
        
A = [1,2,3,4,5,8,15]
equilibrium_index(A)

[5]

In [452]:
        
A = [-7,1,5,2,-4,3,0]
equilibrium_index(A)

[3, 6]

In [453]:
        
A = [-7,1,5,2]
equilibrium_index(A)

[]

In [454]:
        
A = [0,0,0,0,0,0]
equilibrium_index(A)

[0, 1, 2, 3, 4, 5]

### Range Sum Query

#### You are given an integer array A of length N.
#### You are also given a 2D integer array B with dimensions M x 2, where each row denotes a [L, R] query.
#### For each query, you have to find the sum of all elements from L to R indices in A (1 - indexed).
#### More formally, find A[L] + A[L + 1] + A[L + 2] +... + A[R - 1] + A[R] for each query.

    Problem Constraints
    1 <= N, M <= 105
    1 <= A[i] <= 109
    1 <= L <= R <= N

    Input Format
    The first argument is the integer array A.
    The second argument is the 2D integer array B.

    Output Format
    Return an integer array of length M where ith element is the answer for ith query in B.

    Example Input
    Input 1:
    A = [1, 2, 3, 4, 5]
    B = [[1, 4], [2, 3]]
    Input 2:

    A = [2, 2, 2]
    B = [[1, 1], [2, 3]]


    Example Output
    Output 1:
    [10, 5]
    Output 2:

    [2, 4]


    Example Explanation
    Explanation 1:
    The sum of all elements of A[1 ... 4] = 1 + 2 + 3 + 4 = 10.
    The sum of all elements of A[2 ... 3] = 2 + 3 = 5.
    Explanation 2:

    The sum of all elements of A[1 ... 1] = 2 = 2.
    The sum of all elements of A[2 ... 3] = 2 + 2 = 4.

In [461]:
start,end = [1,4]
print(start)
print(end)

1
4

In [462]:
B = [[1, 4], [2, 3]]

In [464]:
for (start,end) in B:
    print(start,end)
    print()

1 4

2 3

In [455]:
def rangeSum(A, B):


    p = [A[0]]
    for i in range(1,len(A)-1+1):
        p.append(A[i]+p[i-1])

    ans = []

    for (start,end) in B:

        if start == 1:
            sum = p[end-1]
        else:
            sum = p[end-1]-p[start-2]
        ans.append(sum)
    return ans

In [456]:
A = [1, 2, 3, 4, 5]
B = [[1, 4], [2, 3]]
rangeSum(A, B)

[10, 5]

### Special Index

#### Given an array, arr[] of size N, the task is to find the count of array indices such that removing an element from these indices makes the sum of even-indexed and odd-indexed array elements equal.

    Problem Constraints
    1 <= n <= 105
    -105 <= A[i] <= 105

    Input Format
    First argument contains an array A of integers of size N

    Output Format
    Return the count of array indices such that removing an element from these indices makes the sum of even-indexed and odd-indexed array elements equal.

    Example Input
    Input 1:
    A=[2, 1, 6, 4]
    Input 2:
    A=[1, 1, 1]

    Example Output
    Output 1:
    1
    Output 2:
    3

    Example Explanation
    Explanation 1:
    Removing arr[1] from the array modifies arr[] to { 2, 6, 4 } such that, arr[0] + arr[2] = arr[1]. 
    Therefore, the required output is 1. 
    Explanation 2:

    Removing arr[0] from the given array modifies arr[] to { 1, 1 } such that arr[0] = arr[1] 
    Removing arr[1] from the given array modifies arr[] to { 1, 1 } such that arr[0] = arr[1] 
    Removing arr[2] from the given array modifies arr[] to { 1, 1 } such that arr[0] = arr[1] 
    Therefore, the required output is 3.

In [515]:
def special_index(A):
    n = len(A)
    
    count = 0
    for x in range(n):

        temp_list = A[:]
        temp_list.pop(x)
               
        odd_index_sum = 0
        even_index_sum = 0
        nt = len(temp_list)
        
        for i in range(nt):
            if i % 2 == 0:
                
                even_index_sum += temp_list[i]
            else:
                odd_index_sum += temp_list[i]
        if even_index_sum == odd_index_sum:
            count += 1
    return count
            
           
A = [2, 1,3 ,2,0,8,7,1,2,6, 4,2,5,8,4,1]
special_index(A)

3

In [514]:
def special_index(A):
    n = len(A)
    evenprefix = []
    evensum = 0

    for i in range(n):
        if i % 2 == 0:
            evensum += A[i]
            evenprefix.append(evensum)
        else:
            evenprefix.append(evenprefix[-1])

    oddsum = 0
    oddprefix = [0]
    for i in range(1,n):
        if i % 2 != 0:
            oddsum += A[i]
        oddprefix.append(oddsum)


    count = 0

    for i in range(n):
        evenindex_sum = evenprefix[i-1]+oddprefix[n-1]-oddprefix[i]
        oddindex_sum = oddprefix[i-1]+ evenprefix[n-1]-evenprefix[i]

        if evenindex_sum == oddindex_sum:
            count += 1
    return (count)


A = [2, 1,3 ,2,0,8,7,1,2,6, 4,2,5,8,4,1]
 #  0   1 2  3 4 5 6 7 8 9 10 11 12
special_index(A)

3